@import "../../../css/_variables";

.table {
    display: flex;
    flex-direction: column;

    .line {
        display: flex;
        flex-direction: row;

        .element {
            margin: 1em;
            text-align: center;
            background-color: $pannel;
            padding: 1em;
            border-radius: 1em;
        }

        .join {
            border-bottom: 0.5em dotted $pannel;
            width: 100%;
        }

    }

    padding: 1em;
    margin: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;

    overflow-y: scroll;
    max-height: 70vh;
    background-color: $table;
}